/*/// Home CSS ///*/

:root{
    --header-bg-col: #2f2f2f;
    --header-font-col: white;
}

#header_wrap{
    display: block;
    width: 100%;
    background-color: var(--header-bg-col);
    color: var(--header-font-col);
}

#title_wrap {
    display: inline-block;
}