/* login page */
html#_login {
    /* 1rem */
    font-size: 16px;
    line-height: 1.75;
}

main {
    width: 25rem;
    margin: 5rem auto;

    padding: 1rem;

    background: white;
    box-shadow: rgba(208, 208, 208, 0.5) 0 0 2.5rem;
}

#container {
    width: auto;
    margin: .5rem;
}

    #container > div {
        margin: .5rem auto;
    }

    #container form {
        width: 90%;
        margin: 0 5%;
    }

        #container form * {
            outline: none;
        }

        #container > .title {
            display: inline-block;
            margin-top: .5rem;
            width: 100%;

            color: #2a2a2a;
        }

            #container > .title > h2 {
                margin: 0;
            }

        #container form > input, #container form > label {
            display: inline-block;
            width: 100%;
            margin: 1rem auto;

            font-size: 1rem;
        }

        #container form input.input_text, #container form input.input_password {
            display: inline-block;
            width: 100%;

            font-size: .8rem;
            padding: .3em .8em;

            background: white;
            border: solid 1px #aeaeae;
        }

            #container form input.input_text:focus, #container form input.input_password:focus {
                border: solid 1px #42a1f0;
            }

        #container form > input.input_submit {
            display: inline-block;
            width: 10em;
            margin-left: calc(50% - 5em);
            padding: .25em 0;

            font-size: 1rem;
            font-weight: 500;

            border: none;
            border-radius: .2rem;

            background-color: #15ca9d;
            color: white;

            transition: ease-out 150ms transform, ease-out 150ms background-color, ease-out 150ms box-shadow;
        }

            #container form > input.input_submit:hover {
                cursor: pointer;
                background-color: #12b88e;
                transform: scale(1.015);
                box-shadow: rgba(208, 208, 208, 0.5) 0 0 1rem;
            }

            #container form > input.input_submit:active {
                background-color: #109e7b;
                transform: scale(.98);
                box-shadow: rgba(208, 208, 208, 0.75) 0 0 1.5rem;
            }