/* default */
body {
    margin: 0;
    background: whitesmoke;
    font-family: 'Yu Gothic', system-ui ,-apple-system, BlinkMacSystemFont, sans-serif;
}

main, header, footer {
    background: white;
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

a {
    text-decoration: underline;
    color: rgb(29, 144, 221);
}

    a:hover {
        text-decoration: none;
        transform: rotate(10deg);
    }