/* default */
body {
    margin: 0;
    display: block;
    background: white;
    font-family: 'Yu Gothic', system-ui ,-apple-system, BlinkMacSystemFont, sans-serif;
}

#wrap {
    margin: 0;
    display: block;
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

a {
    text-decoration: underline;
    color: rgb(6, 139, 228);
}

    a:hover {
        text-decoration: none;
    }